{% extends "templates/base.njk" %}

{% block body %}
    <h1>Christopher Golden</h1>
        <p>
            <a href="/public/downloads/christopher_golden_resume_SP21.pdf">Resume</a>
            |
            <a href="mailto:golden.327@osu.edu">golden.327@osu.edu</a>
            |
            <a href="https://www.linkedin.com/in/christopher-golden-osu327/">LinkedIn</a>
        </p>

        <p>
            This is the homepage of Chris Golden! I am a senior at The Ohio State University in Columbus, Ohio.
            I am pursuing a Bacherlor of Science in Mechanical Engineering along with a minor in music. This blog site is
            a place for me to talk more about my engineering projects, music, photography, and other interests.
        </p>
{% endblock %}